.SearchList {
  width: 100%;
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18); */
  font-size: 14px;
  color: rgba(0,0,0,0.73);
  background-color: #f9c449 !important;
  z-index: 21;
}

.SearchList input {
  width: 60%;
  border: none;
  font-size: 14px;
  color:#5b6b6a;
  outline: none;
  background-color: inherit;
  height: 100%;
  box-sizing: border-box;
  padding:2px 0px;
  border-bottom: 2px solid #5b6b6a;
  transition: all ease 0.2s;
  text-transform: capitalize;
}
.SearchList input::placeholder{
  color:#5b6b6a;
}
.SearchList input:active , .SearchList input:hover, .SearchList input:focus{
  width:100%;
}

.SearchList ul {
    display: flex;
    list-style-type: none;
    text-align: left;
    margin: 0;
    z-index: 10;
    padding: 0;
    background-color: #fff;
    height: auto;
    position: fixed;
    flex-direction: column;
    
}
.SearchList ul::before {
  content: "";
}
/* .SearchList ul{
  display: none;
}
.SearchList input:focus  ~ ul{
  display:flex;
}
.SearchList input:active ~ul{
  display: flex;
}
.SearchList input:hover ~ul{
  display: flex;
} */


.SearchList li {
    width: 100%;
    padding: 10px 30px;
    margin-bottom: auto;
    display: inline-block;
    cursor: pointer;
    z-index: 22;
    text-transform: capitalize;
}
.SearchList li:hover ~ ul{
  display: flex;
}
.SearchList li a{
  text-decoration: none;
}

.SearchList li:hover {
    /* text-decoration: underline; */
    
    background-color: #0080ff;
    color:#fff;
}
/* .input-icons i { 
  position: absolute; 
} 

.input-icons { 
  width: 100%;
  margin-left:10px; 
  margin-bottom: 10px; 
} 

.icon {
   
  padding: 10px; 
  
  color: green; 
  min-width: 50px; 
  text-align: center; 
} 

.input-field { 
  width: 100%; 
  padding: 10px; 
  text-align: center; 
} */