.Admin{
    margin-top:10rem;
    min-height:100vh;
}
.Admin-btn-holder{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    flex-direction: column;
}
.Admin-btn-holder button{
    margin-top:20px;
}
.Admin-head{
    text-align: center;
}
.Admin-head p{
    margin-top:10px;
    color:rgb(87, 86, 86);
    letter-spacing: 1px;
    width:50%;
    display: inline-block;
    
}