.Product{
    display: inline-block;
    height:auto;
    width:150px;
    padding-bottom:1%;
    /* text-align: left; */
    /* box-shadow: 5px 10px 20px #eee; */
    margin:1% 2%;
    cursor: pointer;
    transition: all ease 0.2s;
    background-color: #fff;
}
.Product a{
    text-decoration: none;
    color:initial;
}
.Product:hover{
    box-shadow: 6px 12px 22px #ddd;
}
@media only screen and (min-width: 600px) {
    .Product {
      width:250px;
    }
  }
.Product-img-holder{
    height:200px;
    width:100%;
    margin-bottom:15px;

}
.Product-img-holder img{
    height:100%;
    width:100%;
    
}

.Product span{
    /* font-weight: bold; */
}
.Product .title{
    font-weight: 300;
    font-size: 120%;
    color:#6f6c67;
}
.Product .rate {
    font-weight: 0;
    margin:5px;
    font-size:95%;
    color:#7b86a4;
}
.Product-content{
    padding:0px 6px;
    text-align: left;
}
.Product-offer{
    color: #f6a9be;
    font-weight: 100;
margin-left: 10px;
font-size: 90%;
}
.Product-btn-holder{
    margin:auto;
    margin-top:15px;
}