.Gallery__Container {
  transform: translateY(-1rem);
  color:#7f7f7f;
}

.SizeSelection__Div {
  background-color: #fff;
  padding: 2rem 0;
  
}

.SizeSelection__Container {
  width: 80%;
  margin: 0 auto;
}

.SizeSelection__H1 {
  font-size: 2rem;
  text-align: left;
  color: #5b6b6a;
  margin-bottom: 1rem;
}

.SizeSelection__Helper {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.SizeSelection__Size1,
.SizeSelection__Size,
.SizeSelection__Size2,
.SizeSelection__Size3,
.SizeSelection__Size4 {
  background-color: transparent;
  height: 3rem;
  width: 5rem !important;
  cursor: pointer;
  text-align: center;
  position: relative;;
  font-weight: bold;
  color: #fff;
  
  margin:0px 2px;
  margin-bottom: 1.5rem;
  background-color: #95c9e2;
}

.SizeSelection__Size1:hover,
.SizeSelection__Size2:hover,
.SizeSelection__Size3:hover,
.SizeSelection__Size:hover,
.SizeSelection__Size4:hover {
  background-color: #94d5f3;
}

.SizeSelection__Size1 span,
.SizeSelection__Size2 span,
.SizeSelection__Size3 span,
.SizeSelection__Size span,
.SizeSelection__Size4 span {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 12px;
  transform: translate(-50%, -50%);
}

.SizeSelection__P {
  color: #7f7f7f;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: left;
}

.SizeSelection__Button {
  
  
  padding: 1rem 2rem;
  border:0;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  outline: none;
  cursor: pointer;
  background-color:  #e8a49c;
}

/* .SizeSelection__Button:hover,
.SizeSelection__Button:active {
  background-color: white;
  color: black;
} */

.SizeSelection__Description {
  color: white;
  background-color: blue;
}

@media (max-width: 968px) {
  .SizeSelection__Helper {
    width: 80%;
  }
  .SizeSelection__Div{
    font-size: 16px;;
  }
  .SizeSelection__H1{
    font-size: 18px;
  }
  .SizeSelection__P{
    font-size: 16px;;
  }
  .ProductDescription__Heading{
    font-size: 22px;;
  }
}

.ProductDescription {
  padding: 2rem 0;
  background-color: #e8a49c;
  color: #fff;
}
.ProductDescription p{
  width: 50%;;
  line-height: 145%;
  letter-spacing: 1px;;
}

.ProductDescription__Heading {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.ProductDescription__Para {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5rem;
}

.ProductDescription__Table {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 80%;
  font-weight:BOLD;
  margin: 0 auto;
}

.ProductDescription__Fixed,
.ProductDescription__Dynamic {
  display: flex;
}

.ProductDescription__Fixed > div,
.ProductDescription__Dynamic > div {
  width: 33.33%;
  padding: 1rem;
}

.ProductDescription__Fixed {
  border-bottom: 1px solid white;
}

.ProductDescription__Fixed > div:not(:last-child),
.ProductDescription__Dynamic > div:not(:last-child) {
  border-right: 1px solid white;
}
