.Category__Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2.5rem; */
    text-transform: capitalize;
    
    margin: 5px 0;
    color:#fff;
}

.Categorize {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.Categorize__Card {
    margin: 2rem;
    height: 50vh;
    /* background-color: #0080ff;    */
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.Categorize__Card--Image {
    padding: 5%;
    height: 92%;
}

.Categorize__Image {
    height: 100%;
    width:auto;
}
.Categorize a{
    color: inherit;
    text-decoration: none;
}