.Category__Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 20px 0;
}

.Categorize {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.Categorize__Card {
    margin: 2rem;
    height: 50vh;
    background-color: #0080ff;   
    width: 14rem;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.Categorize__Card--Image {
    padding: 5%;
    height: 92%;
}

.Categorize__Image {
    height: 100%;
}