.Toolbar {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 60px;
  color: #5b6b6a;
  z-index: 20;
}

.Toolbar__Navigation {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.Toolbar__Logo {
  margin-left: 1rem;
}

.Spacer {
  flex: 1;
}

.Toolbar__Navigation--Items a {
  color: #5b6b6a;
  text-decoration: none;
}

.Toolbar__Navigation--Items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Toolbar__Navigation--Items li {
  padding: 0 0.5rem;
}

.Toolbar__Navigation--Items li:not(:last-child) {
  margin-right: 3rem;
}

.Toolbar__Navigation--Items li:nth-child(3) {
  margin-right: 1rem;
}

.Toolbar__Navigation--Items a:hover,
.Toolbar__Navigation--Items a:active {
  color: #5b6b6a;
  font-weight: bold;
}
.Toolbar__Navigation--Items li:not(:last-child) {
  margin-right: 3rem;
}
.Toolbar__Logo a {
  color: #5b6b6a;
  text-decoration: none;
  font-size: 1.5rem;
}

.Searchbar__Component {
  background-color: #fff;
  outline: none;
  border: none;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .Toolbar__Navigation--Items li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.Toolbar__Mobile {
  display: flex;
}

.Toolbar__Mobile--Cart {
  color: #5b6b6a;
  font-size: inherit;
}

@media (min-width: 768px) {
  .Toolbar__Mobile {
    display: none;
  }

  .Toolbar__Mobile .Searchbar__Component {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .Toolbar__Navigation--Items {
    display: none;
  }
}

@media (min-width: 769px) {
  .Toolbar__Toggle {
    display: none;
  }

  .Toolbar__Logo {
    margin-left: 0;
  }
}
.Toolbar .active {
  font-weight: bold;
}

.Toolbar__dropdown {
  position: relative;
  display: inline-block;
}

.Toolbar__dropbtn {
  background-color: inherit;
  color: #5b6b6a;
  font-size: 1.0rem;
  border: none;
  cursor: pointer;
  padding: 0;
}

.Toolbar__dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Toolbar__dropdown-content a {
  color: #5b6b6a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Toolbar__dropdown-content a:hover {
  background-color: #5b6b6a;
  color: #fff;
}

.Toolbar__dropdown:hover .Toolbar__dropdown-content {
  display: block;
}

.Toolbar__dropdown:hover .Toolbar__dropbtn {
  outline: none;
}
.Toolbar_icon{
  height:25px;
  width:25px;
}
.Toolbar_icon img{
  height:100%;
  width:100%;
}
.Toolbar_cart{
  display:inline-flex;
  align-items: initial;
}
.Toolbar_cart span{
  margin-left:5px;
}