.Toggle_Button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.Toggle_Button:focus {
    outline: none;
}

.Toggle__Button--Line {
    width: 30px;
    height: 2px;
    background-color:#5b6b6a;;
}