.Sidedrawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  text-align: left;
  transition: transform ease-out 0.3s;
}

.Sidedrawer.Open {
  transform: translateX(0);
}

.Info__Box {
  height: 15%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(0, 102, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Options {
  background-color: blue;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem;
}

.Options > * {
  color: white;
  font-size: 1.2rem;
}
.Options a{
  color:#fff;
  text-decoration: none;
}
.Options > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.dropbtn {
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 102, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1b1a1a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  outline: none;
}

@media (max-width: 768px) {
  .Sidedrawer {
    display: visible;
  }
}
