.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100vw;
    
    /* background: inherit; */
    padding:20px 0px;
}
.reviews-wrapper{
    background-color:#0080ff;
    padding:40px 0px;
}
.reviews-wrapper h3{
    font-size: 130%;
    color:#fff;
}