.ProductDescription {
  padding: 2rem 0;
  background-color: brown;
  color: white;
}

.ProductDescription__Heading {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.ProductDescription__Para {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5rem;
}

.ProductDescription__Table {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 80%;
  margin: 0 auto;
}

.ProductDescription__Fixed,
.ProductDescription__Dynamic {
  display: flex;
}

.ProductDescription__Fixed > div,
.ProductDescription__Dynamic > div {
    width: 33.33%;
    padding: 1rem;
}

.ProductDescription__Fixed {
    border-bottom: 1px solid white;
}

.ProductDescription__Fixed > div:not(:last-child),
.ProductDescription__Dynamic > div:not(:last-child) {
    border-right: 1px solid white;
}