

.review-top{
    display: flex;
    justify-content: center;
    margin:30px;
}

.review-left-top{
    height:300px;
    width:300px;
    box-shadow: 10px 12px 14px #eee;
}
.review-left-top img{
    height:100%;
    width:100%;
}





/* @media only screen and (min-width: 769px) {
    .review{
        width:30%;
        padding:20px 15px;
    }
    .review-img-holder{
        height:60px;
        width:60px;
    }
} */