.delivery__holder {
    min-height: 65vh;
    margin: 0 30px;
    margin-top: 90px;
    display: flex;
    padding-left:30px;
    flex-direction: column;
    line-height: 155%;;
}

.delivery__heading {
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
}

.delivery__para--holder {
    line-height: 145%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.delivery__holder h4{
    margin:20px;
}
.delivery__holder h5{
    margin:10px;
}
.delivery__holder ul{
    margin:10px;
    text-align: left;
}