.delivery__holder {
    min-height: 65vh;
    margin: 0 30px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.delivery__heading {
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
}

.delivery__para--holder {
    line-height: 145%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}