
.Prds-wrapper{
    margin-top:80px;
    min-height:100vh;
    
}
.Prd-input-holder{
    display:flex;
    flex-wrap: wrap;
    background-color: #ecf7f7;
    padding:10px;
    padding-bottom:20px;
    margin-bottom:5%;
}
/* Reset Select */
.Prds-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border-radius: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    color:#add3b2;
    text-align: center;
    font-size:100%;
    background-image: none;
  }
  /* Remove IE arrow */
  .Prds-wrapper select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .Prds-wrapper .select {
    position: relative;
    display: flex;
    width: 130px;
    height: 30px;
    line-height: 3;
    background: #fff;
    color:#add3b2;
    overflow: hidden;
    border-radius: .25em;
    margin-left:20px;
    margin-top:10px;
   
  }
  .Prds-wrapper select {
    flex: 1;
    padding: 0 10px;
    color:#add3b2;
    cursor: pointer;
  }
  /* Arrow */
  .Prds-wrapper .select::after {
    content: '\25BC';
    position: absolute;
    top: -9px;
    right: 0;
    padding: 0 10px;
    background: #fff;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .Prds-wrapper .select:hover::after {
    color: #0080ff;
  }
  .select2{
    min-width:200px;
    background-color: #fff;
    height:30px;
    margin-left:20px;
    padding-top:5px;
    margin-top:10px;
    color:#add3b2
  }
  .select2 span{
    margin: 0px 10px;
  }
  
  /* @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #add3b2
    }
  } */