/* .Prd-input-holder{
    background-color:#0080ff;
    width:100%;
    padding:18px 20px;
    text-align: center;
    
}

.Prd-dropdown {
    position: relative;
    display: inline-block;
    margin:5px 20px;
    color:#fff;
    cursor: pointer;
    
  }
  
  .Prd-dropdown-content {
      text-align: center;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    color:#111;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 4px;
    z-index: 1;
  }
  
  .Prd-dropdown:hover .Prd-dropdown-content {
    display: block;
  }
  @media(hover: hover) and (pointer: fine) {
    .Prd-dropdown:hover .Prd-dropdown-content {
    display: block;
  }
  .Prd-dropdown-content P:hover{
    color:#fff;
    background-color: #0080ff;
}
}
  
  .Prd-dropdown-content p{
      margin:px 0;
      padding:2px;
      transition:all ease-in 0.1s;
  }
.Prd-dropdown-content P:hover{
    color:#fff;
    background-color: #0080ff;
}

#arrow{
    /* padding-top:-50px; */

/*
    display:inline-block;
    margin-left:3px;
} */
/* .Prds-wrapper{
    margin-top:80px;
}
.wrapper {
    width: 100%;
    height: auto;
    background-color: #0080ff;
    text-align: center;
    padding:8px 18px;
    text-align: left;
    margin-bottom: 20px;;
}

.main-menu {
    text-align: left;
    display: inline-block;
    background-color: #0080ff
}

.main-menu a, .main-menu a:hover {
    text-decoration: none
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0
}

.main-menu li {
    display: block;
    padding: 0;
    position: relative;
    vertical-align: top
}

.main-menu>li {
    background-color: #0080ff
}

.main-menu>li>a {
    background-color: #0080ff;
    display: block;
    padding: .75em 1.25em;
}

.main-menu ul.sub-menu {
    position: relative;
    padding: 0
}

.main-menu ul.sub-menu li {
    display: block
}

.main-menu ul.sub-menu a {
    background-color: #0080ff;
    color: #fff;
    padding: .75em 1.25em;
    display: block
}

.main-menu>li:hover ul.sub-menu {}

.main-menu li {
    display: inline-block;

}

.main-menu>li>a {
    display: block;
    color:#fff;
}

.main-menu>li>a:hover {
    background-color: #fff;
    color: #fff;
}

.main-menu>li:hover ul.sub-menu, .main-menu>li:focus ul.sub-menu {
    visibility: visible;
    opacity: 1
}

.main-menu>li.menu-item-has-children {
    padding-right: 1.5em;
    overflow: hidden
}

.main-menu>li.menu-item-has-children a {
    padding: .75em .7em .7em 1.25em
}

.main-menu>li.menu-item-has-children:hover a {
    background-color: #fff;
    color: #0080ff
}

.main-menu>li.menu-item-has-children:after {
    content: '';
    position: absolute;
    right: .5em;
    top: 1.2em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent
}
.main-menu>li.menu-item-has-children:hover:after{
    border-color: #0080ff transparent transparent
}
.main-menu>li.menu-item-has-children:hover, .main-menu>li.menu-item-has-children:focus {
    overflow: visible;
    background-color: #fff;

}

.main-menu ul.sub-menu {
    width: 12em;
    position: absolute;
    top:100%;
    top: 0;
    z-index: 900;
    padding-top: 3em;
}

.main-menu ul.sub-menu li {
    opacity: 0
}

.main-menu>li.menu-item-has-children:hover ul.sub-menu, .main-menu>li.menu-item-has-children:focus ul.sub-menu {
    top: 100%;
    padding-top: 0;
}

.main-menu>li.menu-item-has-children:hover ul.sub-menu li, .main-menu>li.menu-item-has-children:focus ul.sub-menu li {
    opacity: 1
}

.main-menu ul.sub-menu li {
    display: block
}

.main-menu ul.sub-menu a {
    display: block
}

.main-menu ul.sub-menu a:hover {
    background-color: #0080ff;
    color:#fff
}

a, .sub-menu, .menu-item {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
} */
.Prds-wrapper{
    margin-top:80px;
}
.Prd-input-holder{
    display:flex;
    flex-wrap: wrap;
    background-color: #0080ff;
    padding:10px;
}
/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border-radius: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    color:#0080ff;
    text-align: center;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 120px;
    height: 30px;
    line-height: 3;
    background: #fff;
    color:#0080ff;
    overflow: hidden;
    border-radius: .25em;
    margin-left:20px;
   
  }
  select {
    flex: 1;
    padding: 0 10px;
    color: #0080ff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: -9px;
    right: 0;
    padding: 0 10px;
    background: #fff;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #0080ff;
  }
  